@import "app.scss";

.dashboard {
    padding-top: 20px;

    #upload-csv-input {
        display: none;
    }
    .control-label {
        line-height: 30px;
    }
    select {
        margin-top: 0px;
    }
    hr {
        border: 0;
        margin-bottom: 30px;
    }
    
    p.empty {
        margin-bottom: 30px;
    }
}
